<div class="container">
  <h1>
    <strong>Experienc</strong>
  </h1>
  <dl>
    <dt>2022-2023 | Bsoft Company (Bezeq) | Tel-Aviv City</dt>
    <h6 class="text primary">FullStack Developer</h6>

    <dt class="mt-2">Hands-on developer both backend and fronted systems</dt>
    <dd><li>Development of the business, management and sales systems - maintenance and repair. </li></dd>
    <dd><li>Working with SQL databases Server Management includes complex queries and store procedures. </li></dd>
    <dd><li>Backend development in C# .NET. Familiar with Asp.Net and Entity frame work. </li></dd>
    <dd><li>Frontend developer in Angular Js Framework, JavaScript, HTML, CSS.  </li></dd>
    <dd><li>Development of applications while with a high code standard.  </li></dd>
  </dl>
  <dl>
    <dt>2014-2021 | Leumi Bank | Tel-Aviv City</dt>
    <h6 class="text primary">Banker and Team Leader at Commercial system</h6>
    <dd><li>Providing solutions for customers while accompanying credit needs and handling of their accounts. </li></dd>
    <dd><li>Executing business transactions, on instant demand under Credit Committee criteria and full management of the collateral of the transaction. </li></dd>
    <dt> Banker at Mortgage system </dt>
    <dd><li>Providing advice and submitting request to customers  applying for a Mortgage. </li></dd>
    <dd><li>recycling of mortgages for bank leumi customers while adjusting the mix according to customer's needs. </li></dd>
  </dl>
  <dl style="margin-bottom: 50px;" >
    <dt >Skills & Technologies</dt>
    
    <dd><li>C# - .Net and .NetCore technology, Asp.Net Core web API, Entity Framework and EF Core</li></dd>
    <dd><li> Db - Sql, Mongo Bd </li></dd>
    <dd><li> JavaScript </li></dd>
    <dd><li>Angular 13+ , TypeScript </li></dd>
    <dd><li>Html & Css , Boostrap </li></dd>

  </dl>
</div>

