<div class="container rounded">
  <h1><strong style="margin: 20px;">About Me</strong></h1>
  <div class="card" style="width: 250px">
    <img src="assets/images/Daniel.jpg" />
    <div class="card-body">
      <h5 class="card-title"><strong>Daniel Levy</strong></h5>
      <div class="card-text">
        <p>34 Years Old</p>
        <p>Leave in Ashklon</p>
        <p>Maried to Reut</p>
      </div>
    </div>
  </div>
  <div class="card" style="border: 0;">
    <h4 class="mb-3"><strong> Visit me on :</strong></h4>
    <p> <strong>Github:</strong> 
     <a href="https://github.com/Dani19862"> <img src="/assets/images/github_logo.jpg" style="width: 125px; margin-bottom: 10px;"></a>
    </p>

    <p class="mt-2"> <strong>Linkdein:</strong> 
     <a href="https://www.linkedin.com/in/daniel-levy-b427a3118/"> <img src="/assets/images/linkedin_logo.jpg" style="width: 125px; margin-bottom: 10px;"></a>
    </p>
 
    <p class="mt-3"> <strong>Linkdein:</strong> 
     <a href="mailto:daniellevy1989@gmail.com"> <img src="/assets/images/gmail_logo.jpg" style="width: 125px; margin-bottom: 10px;"></a>
    </p>

    <p>
      <i class="fa fa-check text-success" aria-hidden="true"></i>	<b>Looking for Full Stack/Backend developer position.</b>
    </p>
    <p>
      <i class="fa fa-check text-success" aria-hidden="true"></i>	<b>Highly motivated, self-learning ability, initiative, creative, can-do attitude.</b>
    </p>
    <p>
      <i class="fa fa-check text-success" aria-hidden="true"></i>	<b>Ability to works imultaneously in many interfaces  and under pressure.</b>
    </p>
    <p>
      <i class="fa fa-check text-success" aria-hidden="true"></i> <b>Organized, responsible, hard working and have excellent soft skills.</b>	
    </p>
  


  </div>

</div>

